     <!-- BEGIN CONTENT -->
      <div class="col-md-12">
        <h1>Message Sent</h1>
        <div class="content-page custom-brown-bckgrnd">
          <div class="col-md-4 col-sm-12 text-center">
            <%= image_tag("person01.jpg", alt: "", class: "img-responsive") %>
          </div>
          <div class="col-md-8 col-sm-12">
            <a href="/" data-dismiss="alert">GO BACK TO HOME PAGE</a>          
          </div>
        </div>
      </div>
      <!-- END CONTENT -->