<div class="row panel-footer">
  <div class="col-md-6">&copy; 2015 FX Chiropractic & Performance
  </div>
  <div class="col-md-6">
    <div class ="row">
      <div class="col-xs-4">
      <%= image_tag("facebook.png", alt: "Facebook", class: "img-responsive social-icon morph") %>
      </div>
      <div class="col-xs-4">
      <%= image_tag("twitter.png", alt: "Twitter", class: "img-responsive social-icon morph") %>
      </div>
      <div class="col-xs-4">
      <%= image_tag("youtube.png", alt: "Youtube", class: "img-responsive social-icon morph") %>
      </div>
    </div>
  </div>
</div>