<div>
  <div class="row container-2" style="background: #8fb5d7; padding: 0px 10px;">
    <div class="col-md-12 home-info">
      <h1>This is the About Me Page</h1>
      <h2>Services We Offer</h2>
      <%= image_tag("circle01.png", alt: "FX Chiropractic", class: "img-responsive") %>      
      <p style="width: 50%;">Jean shorts lo-fi crucifix paleo bitters, selvage hella street art wayfarers. Heirloom flexitarian irony, tote bag gastropub vinyl Pitchfork gentrify Brooklyn letterpress kogi.</p>
    </div>
  </div>
</div>