<div>
  <div class="row container-2" style="background: #8fb5d7; padding: 0px 10px;">
    <div class="col-md-12 home-info">
      <h1>Single Column About Us Page</h1>
      <h2>Why Choose FX Chiropractic?</h2>
      <%= image_tag("circle01.png", alt: "FX Chiropractic", class: "img-responsive") %>      
      <p style="width: 50%;">This will be a short paragraph about why f(x) is different from other providers.  It will also allow the user to find out more about me and the staff.</p>
    </div>
  </div>
</div>