<div class="container">
<div class="row">
  <div class="col-md-12"
  <h1>This is the About Me Page</h1>
<h2>Services We Offer</h2>
      <p>Try-hard ethical DIY, bicycle rights Carles mumblecore occupy Austin kitsch 90's cold-pressed mlkshk scenester. Cronut asymmetrical locavore post-ironic, Bushwick Portland flexitarian church-key typewriter Neutra PBR tote bag.</p>
    </div>
    </div>
  </div>