<div class="row">
  <div class="col-xs-12 banner-image">
    <%= image_tag("slider-man-woman-running.jpg", alt: "FX Chiropractic", class: "img-responsive") %>
  </div>
</div>    
<div class="row container-2" style="background: #8fb5d7; padding: 0px 10px;">
  <div class="col-md-12 home-info">
    <h1>FX Chiropractic Blog</h1>
    <div class="row" ng-repeat="post in postCtrl.posts">
      <h2><a ui-sref="viewPost({id: post.id})">{{ post.title }} (Post#{{ post.id }})</a></h2>
      <%= image_tag("person01.jpg", alt: "FX Chiropractic", class: "img-responsive") %> 
      <p style="text-align: center;">{{ post.contents | limitTo:25 }}...</p>
    </div>
    <div><p ui-sref="newPost">New Post</div>    
  </div>
</div>