<div>
  <div class="row">
    <div class="col-xs-12 banner-image">
      <%= image_tag("slider-man-woman-running.jpg", alt: "FX Chiropractic", class: "img-responsive") %>
    </div>
  </div>    
  <div class="row container-2" style="background: #8fb5d7; padding: 0px 10px;">
    <div class="col-md-12 home-info">
      <h1>FX Chiropractic Blog</h1>
      <div class="row" ng-repeat="post in postCtrl.posts">
        <%= image_tag("person01.jpg", alt: "FX Chiropractic", class: "img-responsive") %> 
        <h2><a ng-click="postCtrl.viewPost(post.id)">{{ post.title }}</a></h2>
        <p style="text-align: center;">{{ post.contents | limitTo:25 }}...</p>
        <p>{{ post.id }}</p>
      </div>
      <!-- <h2>First Blog</h2>
      <= image_tag("person01.jpg", alt: "FX Chiropractic", class: "img-responsive") %>      
      <p style="width: 50%;">What am I eighth grade hall monitor? Current whereabouts? Let me tell you something, Mike. There are rules to this lawyer thing. Attorney client privilege, that's a big one. That's something I provide for you! If I give up Pinkman, then you're gonna be asking, old Saul gives 'em up pretty easy what's to keep him from giving me up? You see, so then, where's the trust?</p><br>
      <p style="width: 50%;">Today's your lucky day. Look around, kiddo - it's all yours. You are now the owner of this fine establishment. Free? Oh ladies, cover your ears. No... not free. Look, hey... this is a squeaky clean, highly profitable (at least potentially), local institution. Look the bottom with favor by the chamber of commerce, better business bureau at three-hundred and twelve thousand dollars, it's a steal.</p>
      <h2>Second Blog</h2>
      <= image_tag("person04.jpg", alt: "FX Chiropractic", class: "img-responsive") %>      
      <p style="width: 50%;">Don't you get it? On the outside it's a nail salon right, on the inside it's the best money laundering a growing boy could ask for. Wait, wait! Come back here. Sit. Come on, come on... humor me here for a second. You know you need to launder your money, right? Do you understand the basics of it - placement, layering, integration. Well, you wanna stay out of jail don't ya? You wanna keep your money and your freedom. Cause I got three little letters for ya, I - R - S. If they can get Capone, they can get you.</p><br>
      <p style="width: 50%;">Hey look, here's you right - pink... Pinkman, get it? Here's your cash. You're out on the town, yeah you're partying hardy, you're knocking boots with the chicky babes and aww! Who's this? It's the tax man and he's looking at you. And what does he see? He sees a young fella, big fancy house, unlimited cash supply and no job. Now what is the conclusion the tax man makes? Aaaaannnt! Wrong! Millions times worse - you're a tax cheat. What do they do? They take every penny and you go in the can for felony tax evasion. Ouch! What was your mistake? You didn't launder your money! Now, you give me your money, okay that's called placement.</p>   -->    
    </div>
  </div>
</div>