<div class="row">
  <div class="col-xs-12 banner-image">
    <%= image_tag("slider-man-woman-running.jpg", alt: "FX Chiropractic", class: "img-responsive") %>
  </div>
</div>    
<div class="row container-2" style="background: #8fb5d7; padding: 0px 10px;">
  <div class="col-md-12 home-info">
    <h1>FX Chiropractic Blog</h1>
    <div class="text-center">    
      <a class="btn btn-success" ui-sref="newPost">New Post</a>
    </div>
    <div class="row" ng-repeat="post in postCtrl.posts">
      <h2><a ui-sref="viewPost({id: post.id})">{{ post.title }} (Post#{{ post.id }})</a></h2>
      <%= image_tag("person01.jpg", alt: "FX Chiropractic", class: "img-responsive") %> 
      <p class="text-center">{{ post.contents | limitTo:25 }}...</p>
      <div class="text-center">
        <a class="btn btn-primary" ui-sref="viewPost({id: post.id})">View</a>
        <a class="btn btn-danger"  ng-click="postCtrl.deletePost(post)">Delete</a> 
      </div>
    </div>   
  </div>
</div>