<div class="container" >
  <div class="row">
    <div class="col-xs-12">
      <slider images="homeCtrl.images" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 home-info">
      <a ui-sref="about"><%= image_tag("circle01.png", alt: "FX Chiropractic", class: "img-responsive grow") %></a>
      <h2>About Us</h2>
      <p>Jean shorts lo-fi crucifix paleo bitters, selvage hella street art wayfarers. Heirloom flexitarian irony, tote bag gastropub vinyl Pitchfork gentrify Brooklyn letterpress kogi.</p>
    </div>
    <div class="col-md-3 home-info">
      <a ui-sref="services"><%= image_tag("circle02.png", alt: "FX Chiropractic - Services", class: "img-responsive grow") %></a>
      <h2>Services</h2>
      <p>Try-hard ethical DIY, bicycle rights Carles mumblecore occupy Austin kitsch 90's cold-pressed mlkshk scenester. Cronut asymmetrical locavore post-ironic, Bushwick Portland flexitarian church-key typewriter Neutra PBR tote bag.</p>
    </div>
    <div class="col-md-3 home-info">
      <a ui-sref="schedule"><%= image_tag("circle03.png", alt: "FX Chiropractic", class: "img-responsive grow") %></a>
      <h2>New Patient</h2>
      <p>Health goth asymmetrical tote bag organic migas vegan. Literally Brooklyn jean shorts, kogi Williamsburg selfies raw denim Bushwick crucifix irony fap pop-up asymmetrical Godard.</p>
    </div>
    <div class="col-md-3 home-info">
      <a ui-sref="blog"><%= image_tag("circle04.png", alt: "FX Chiropractic", class: "img-responsive grow") %></a>
      <h2>Blog</h2>
      <p>Williamsburg fingerstache Banksy sartorial Shoreditch, swag twee gastropub wolf street art skateboard paleo Thundercats.</p>
    </div>
  </div>

</div>
