<div class="row container-2">
  <div class="col-md-12 home-info">
    <h1>{{ postViewCtrl.showPost.title }}</h1>
    <h4 class="text-center">{{ postViewCtrl.showPost.created_at | date:'fullDate' }}</h4>     
      <%= image_tag("person01.jpg", alt: "FX Chiropractic", class: "img-responsive") %>
    <img src="https://s3.amazonaws.com/fx-assets/posts/images/man-biker-small.jpg" />  
    <p class="text-center">{{ postViewCtrl.showPost.contents }}</p>
    <div class="text-center">
      <a class="btn btn-default" ui-sref="blog">Back to Blogs</a>
      <a class="btn btn-warning" ng-show="postViewCtrl.user.admin" ui-sref="editPost({id:postViewCtrl.showPost.id})">Edit</a>
      <a class="btn btn-danger" ng-show="postViewCtrl.user.admin" ng-click="postViewCtrl.deletePost(postViewCtrl.showPost)">Delete</a> 
    </div>        
  </div>
</div>