<div class="row container-2">
  <div class="col-md-12 home-info">
    <h1>{{ postViewCtrl.showPost.title }} (Post#{{ postViewCtrl.showPost.id }})</h1>
      <%= image_tag("person01.jpg", alt: "FX Chiropractic", class: "img-responsive") %> 
    <p style="text-align: center;">{{ postViewCtrl.showPost.contents }}</p>
    <div class="text-center">
      <a class="btn btn-default" ui-sref="blog">Back to Blogs</a>
      <a class="btn btn-warning" ng-show="postViewCtrl.user.admin" ui-sref="editPost({id:postViewCtrl.showPost.id})">Edit</a>
      <a class="btn btn-danger" ng-click="postViewCtrl.deletePost(postViewCtrl.showPost)">Delete</a> 
    </div>        
  </div>
</div>