<div>
  <div class="row container-2" style="background: #8fb5d7; padding: 0px 10px;">
    <div class="col-md-6 home-info">
      <h1>Two Column Schedule Page</h1>
      <h2>Schedule Your Appointment</h2>
      <%= image_tag("circle03.png", alt: "FX Chiropractic", class: "img-responsive") %>
      <p>A brief explanation of what occurs on the first visit.  This will also be where the NP documents can be downloaded and instructions on where to send once completed.</p>    
    </div>
    <div class="col-md-6 home-info">
      <h1>This is the Second Column</h1>
      <h2>More Information Goes Here</h2>
      <p>You didn't actually see Tuco? You got this money from Tuco? Tuco gave you this is what you're saying? You made a deal? How... why would you make a deal with that scumbag? You see what he did to me? No way man, okay, no understanding! Without even talking to me, you told this... insane ass-clown, dead-eyed killer, that uh... that we would give him two pounds a week?</p><br>
      <p>Oh well, heil Hitler, bitch! And let me tell you something else. So what're you saying? Like, I shot someone with, like, a gun? We flipped a coin, okay? You and me. You and me! Coin flip is sacred! Your job is waiting for you in that basement, as per the coin!</p>
    </div>    
  </div>
</div>