<div class="row">
  <div class="col-xs-12 banner-image">
    <%= image_tag("slider-golfer2.jpg", alt: "FX Chiropractic", class: "img-responsive") %>
  </div>
</div>    
<div class="row container-2">
  <div class="col-md-12 home-info text-center">
    <h1 style="text-align:left;">Schedule an Appointment</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">              
            <%= image_tag("kettlebells.jpg", alt: "Dr. Dan Shuman", class: "img-responsive") %>
          </div>
          <div class="col-md-8">
            <h2>How to Schedule a New Appointment</h2>
            <p>Give us a call at 404-344-5001 and we will take your information and find a time that works with your schedule.</p><br>
            <p>Please have your insurance card available if you plan to use your insurance. We are in-network with most major health insurance companies. Our front desk staff can verify your benefits prior to your visit so that you know exactly what you’ll be paying on your first and subsequent visits. For a company that we are not in-network with, we can provide you with a superbill that you can submit to your insurance carrier for reimbursement.</p>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-4">              
            <%= image_tag("lake-tahoe.jpg", alt: "Dr. Dan Shuman", class: "img-responsive") %>
          </div>
          <div class="col-md-8">
            <h2>Parking</h2>
            <p>There are several parking options for you when you come to the office. There is a parking garage for the SkyHouse South building which has over a hundred covered parking spots available. The entrance is just past the Ace Hardware as you are going south on Juniper. Just pull into the garage and stay right to take a ticket and head up the ramp. Bring your ticket with you so that we may validate your parking.</p>
            <p>You may choose to park on Juniper Street for free during certain hours of the day. There are also some spots on 6th Street. Please pay attention to all posted parking signs, especially on 6th because Park Atlanta monitors this area continually.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>What to Expect on Your First Visit</h3>
        <p>Dr. Shuman will typically spend your first visit going over your current complaint and getting a detailed history.  Then you will go through a comprehensive postural, orthopedic, neurological, chiropractic and functional movement assessment.  The results of your exam will be shared with you in the room and a strategy to help you achieve your health goals will be created.  If you just want to get out of pain, that’s fine.  If you want to resolve ingrained biomechanical imbalances and compensations, great! We will work with you and your goals to deliver the best service possible.  Treatment is usually started on the first visit so be sure to wear comfortable clothing (no jeans if possible).  We know that you’re busy so plan on an hour on your first visit.</p><br>
        <div class="row">
          <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="187" height="105" src="https://www.youtube.com/embed/yMqvjEX0mjU" class="embed-responsive-item" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <h3>Future Visits</h3>
        <p>Based on your goals and the doctor’s recommendations, you will likely have a follow up visit that will consist primarily of treatment. This will range in number depending on the condition and extent of injury. Each follow up visit can take 10-30 minutes and we will let you know ahead of time how much time you will need to plan for.</p>        
      </div>
    </div>
  </div>     
</div>