<div>
  <div class="row container-2" style="background: #8fb5d7; padding: 0px 10px;">
    <div class="col-md-6 home-info">
      <h1>Two Column Services Page</h1>
      <h2>Services We Offer</h2>
      <%= image_tag("circle02.png", alt: "FX Chiropractic", class: "img-responsive") %>
      <p>This will include a section about the various kinds of soft tissue treatments offered along with chiropractic, etc.  I hope to include a list of conditions that we treat as well here</p>     
    </div>
    <div class="col-md-6 home-info">
      <h1>This is the Second Column</h1>
      <h2>More Information Goes Here</h2>
      <p>A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I AM the danger! A guy opens his door and gets shot and you think that of me? No. I am the one who knocks!</p><br>
      <p>Did he speak to you? Would you just answer? What things? What people? A month ago, Gus was trying to kill both of us. And now, he pulls you out of the lab and employs you as... what... a, an assistant gunman? A tough guy? Does that make any sense to you? He says he sees something in you. What kind of game is he playing. Does he think you're that naïve? He can't truly think that you'd forget... let alone Gale, let alone Victor... and all the horror that goes along with all of that.</p>
    </div>    
  </div>
</div>