<div class="slider">
  <div class="slide" ng-repeat="image in images" ng-show="image.visible">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <img ng-src="{{image.src}}" class="img-responsive animated fadeInSlow" />
        <div style="position:absolute; top: 5%; left: 60%;"
        <ul class="slide-ul">
          <li class="slide-text animated fadeInRight">{{image.title}}</li>
        </ul>
        </div>
        <div ng-show="image.logoLeft" class="row" style="position:absolute; top: 65%; left: 5%;">
          <div class="col-md-4 col-xs-4">
            <img ng-src="{{image.logoLeft}}" class="img-responsive animated fadeInLeft" />
          </div>
          <div class="col-md-8 col-xs-8">
            <img ng-src="{{image.logoRight}}" class="img-responsive animated fadeInRight" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="arrows">
    <a href="#" ng-click="prev()">
      <%= image_tag("prev-arrow.png", alt: "Previous Image", class: "img-responsive") %>
    </a>
    <a href="#" ng-click="next()">
      <%= image_tag("next-arrow.png", alt: "Next Image", class: "img-responsive") %>
    </a>
  </div>
</div>